<div class="container">

  <h2 mat-dialog-title class="header" color="primary">Create Employee</h2>

  <!-- form starts -->
  <form class="mat-dialog-content" (ngSubmit)="onSubmit()" [formGroup]="empForm">


      <div class="form">
        <mat-form-field color="accent" class="form-element">
          <input matInput #input class="form-control" placeholder="User Name" formControlName="username" required>
          <mat-error *ngIf="empForm.controls['username'].hasError('required')">User Name is required</mat-error>
        </mat-form-field>

        <mat-form-field color="accent" class="form-element">

          <mat-select formControlName="role" class="form-control" placeholder="Role">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="empForm.controls['role'].hasError('required')">Role is required</mat-error>
        </mat-form-field>

        <mat-form-field color="accent" class="form-element">
          <input matInput #input class="form-control" placeholder="Location" formControlName="location" required>
          <mat-error *ngIf="empForm.controls['location'].hasError('required')">Location is required</mat-error>
        </mat-form-field>

        <div class="form-element">
          <mat-label>Active : </mat-label>
          <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="active">
            <mat-radio-button class="example-radio-button" *ngFor="let active of activeValues" [value]="active">
              {{active}} &nbsp;
            </mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="submitted && empForm.controls['active'].hasError('required')">Active is required</mat-error>
        </div>

      </div>

    
    <div mat-dialog-actions>
      <button mat-flat-button color="primary" type="submit" [disabled]="!empForm.valid">CREATE</button>
      <button mat-flat-button (click)="onNoClick()" tabindex="-1" color="warn">CANCEL</button>
    </div>
  </form>
  <!-- form end -->
</div>