.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  padding: 10px;
  }
  
  .container > * {
    width: 100%;
  }

  .header{
    background-color: rgb(239, 241, 241);
    border-radius: 1px;
    padding: 4px;
  }
  
  .form-element {
    padding: 5px 0px 5px 2px;
    width:100%;
  }

  .mat-dialog-content {
    overflow: visible;
}
