<mat-toolbar color="primary">
    <span>Angular Task By- Ashwini Reddy</span>
  </mat-toolbar>
  <br>
  <button mat-flat-button color="primary" (click)="createEmployee()" class="btn-create">Create Employee</button>
  <mat-toolbar >
    <h5>Users List</h5>
  </mat-toolbar>
<div class="example-container mat-elevation-z8">

<mat-table #table [dataSource]="dataSource"  class="mat-cell user-table"  matSort >
    

    <ng-container matColumnDef="id">row
      <mat-header-cell *matHeaderCellDef mat-sort-header >Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="user_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.phone}}</mat-cell>
      </ng-container>

    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.company.name}}</mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.address.city}}</mat-cell>
      </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
      Actions
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="primary" >
            <mat-icon aria-label="Edit" (click)="editUser(i)">edit</mat-icon>
          </button>
  
          <button mat-icon-button color="warn" >
            <mat-icon aria-label="Delete" (click)="deleteUser(i)">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>




