
.container {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 1 auto;
}

.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}


mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
  flex: 0 0 5%;
}



mat-cell:nth-child(8),
mat-header-cell:nth-child(8) {
  flex: 0 0 10%;
}

.btn-create {
  float: right;
  margin: 0px 20px 20px 10px;
}

.mat-icon-button {
  width: 25px;
}

.mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}

.user-table {
  display: block;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 50px;
}