.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  padding: 10px;
  height: 100%;
  border: 1px solid rgba(207, 205, 205, 0.42);
  border-radius: 5px;
}

.container>* {
  width: 100%;
}

.header {
  background-color: rgb(239, 241, 241);
  border-radius: 1px;
  padding: 4px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

.form {
  min-width: 15vw;
  max-width: 50vw;
  width: 100%;
  height: auto;
}

.form-element {
  padding: 5px 20px 5px 2px;
  width: 31%;
}

.child-element {
  padding: 5px 20px 5px 2px;
  width: 30%;
}

.nested {
  padding: 10px;
  border: 1px solid rgba(207, 205, 205, 0.42);
  border-radius: 5px;
}

.title {
  color: rgba(0, 0, 0, .54);
  background-color: rgb(245, 247, 247);
  border-radius: 1px;
  padding: 4px;
}

.sub-title {
  color: rgba(0, 0, 0, .54);
  background-color: rgb(245, 247, 247);
  border-radius: 1px;
  padding: 4px;
}

.mt-2 {
  margin-top: 2vh;
}


