<h2 mat-dialog-title class="header">Edit User </h2>
<div class="container">


  <!-- <mat-dialog-content></mat-dialog-content> -->
  <form class="mat-dialog-content" (ngSubmit)="onSubmit()" [formGroup]="userForm">

    <div class="form">

      <mat-form-field color="accent" class="form-element">
        <input matInput #input type="number" class="form-control" placeholder="Id" formControlName="id" required readonly>
      </mat-form-field>

      <mat-form-field color="accent" class="form-element">
        <input matInput #input class="form-control" placeholder="Name" formControlName="name" required>
      </mat-form-field>

      <mat-form-field color="accent" class="form-element">
        <input matInput #input class="form-control" placeholder="User Name" formControlName="username" required>
      </mat-form-field>

      <mat-form-field color="accent" class="form-element">
        <input matInput #input class="form-control" placeholder="Email" formControlName="email" required>
      </mat-form-field>

      <mat-form-field color="accent" class="form-element">
        <input matInput #input class="form-control" placeholder="Phone" formControlName="phone" required>
      </mat-form-field>


      <mat-form-field color="accent" class="form-element">
        <input matInput #input class="form-control" placeholder="Website" formControlName="website" required>
      </mat-form-field>

      <h4 class="title">Address</h4>

      <div formGroupName="address" class="nested">

        <mat-form-field color="accent" class="child-element">
          <input matInput #input class="form-control" placeholder="Street" formControlName="street" required>
        </mat-form-field>

        <mat-form-field color="accent" class="child-element">
          <input matInput #input class="form-control" placeholder="Suite" formControlName="suite" required>
        </mat-form-field>

        <mat-form-field color="accent" class="child-element">
          <input matInput #input class="form-control" placeholder="City" formControlName="city" required>
        </mat-form-field>

        <mat-form-field color="accent" class="child-element">
          <input matInput #input class="form-control" placeholder="Zipcode" formControlName="zipcode" required>
        </mat-form-field>

        <h5 class="sub-title">Geo</h5>
        <div formGroupName="geo">
          <mat-form-field color="accent" class="child-element">
            <input matInput #input class="form-control" placeholder="Lat" formControlName="lat" required>

          </mat-form-field>
          <mat-form-field color="accent" class="child-element">
            <input matInput #input class="form-control" placeholder="Lang" formControlName="lng" required>
          </mat-form-field>


        </div>


      </div>

      <h4 class="title mt-2">Company</h4>
      <div formGroupName="company" class="nested">

        <mat-form-field color="accent" class="child-element">
          <input matInput #input class="form-control" placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field color="accent" class="child-element">
          <input matInput #input class="form-control" placeholder="Catch Phrase" formControlName="catchPhrase" required>
        </mat-form-field>
        <mat-form-field color="accent" class="child-element">
          <input matInput #input class="form-control" placeholder="Bs" formControlName="bs" required>
        </mat-form-field>

      </div>

    </div>

    <div mat-dialog-actions>
      <button mat-flat-button type="submit" color="primary" [disabled]="!userForm.valid">SAVE</button>
      <button mat-flat-button (click)="onNoClick()" tabindex="-1" color="warn">CANCEL</button>
    </div>
  </form>
</div>