.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    width: 100%;
  }
  .bg-grey{
    background-color: grey;
    color: white;
  }
  .mat-dialog-content {
    overflow: visible;
}
