<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>

  <div mat-dialog-content>
    <p> Do you want to delete the user record?.</p>
  </div>

  <div mat-dialog-actions>
    <button mat-flat-button [mat-dialog-close]="1" (click)="confirmDelete()" color="warn">YES</button>
    <button mat-flat-button (click)="onNoClick()" tabindex="-1" class="bg-grey">NO</button>
  </div>
</div>